<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">{{ 'NavBar.WebSiteName' | translate }}</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<!--<form class="form-horizontal" method="post" action="#">-->
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">{{ 'Login.YourName' | translate}}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" [(ngModel)]="name"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">{{ 'Login.Password' | translate}}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" [(ngModel)]="password"/>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<button type="button" class="btn btn-primary btn-lg btn-block login-button" (click)="loginUser()">
								Login
							</button>
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>