.languages {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 50px;
    padding-right: 50px;
}
.languages a {
    font-size:25px; 
    padding-left: 30px;
}
.user{
    color: white;
    float: right;
    margin-top: 10px;
}