<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ 'NavBar.WebSiteName' | translate}}</a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Home</a></li>-->
      <li><a [routerLink] = "['/main']">{{ 'NavBar.Main' | translate}}</a></li>
      <li><a [routerLink] = "['/home']">{{ 'NavBar.Home' | translate}}</a></li>
      <li *ngIf="!logout"><a [routerLink] = "['/login']">{{ 'NavBar.Login' | translate}}</a></li>
      <li *ngIf="logout" (click) = "logoutUser()"><a>{{ 'NavBar.Logout' | translate}}</a></li>

    </ul>
    <h3 class="user" *ngIf="userName">{{name}}</h3>
  </div>
</nav>
<router-outlet></router-outlet>

  <div class="languages">
    <a (click)="setLang('rus')">Rus</a>
    <a (click)="setLang('en')">Eng</a>
  </div>